<h2 class='mb-4'>Productos</h2>

<% if(products.length){ %>
  <table class='table table-dark table-striped'>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <% for (const product of products) {%>
        <tr>
          <th><%=product.title%></th>
            <td><%=product.price%></td>
          <td>
            <div style='width: 80px; height: 80px;'>
              <img style='width: 100%; height: 100%' src='<%= product.thumbnail %>' alt='Product image' />
            </div>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
  <% } else { %>
  <div>
    <h2>No se encuentra ningun producto</h2>
  </div>
  <% } %>