<%- include('partials/head.ejs')%>

<div class="container mt-3 ">
    <div class="jumbotron">
        <h1>Resgitro de usuario</h1>
        <form action="/auth/register" method="post" id="submit-name">
            <div class="form-group">
                <label for="name"> <em><b>Ingrese su email</b></em> </label>
                <input id="name" class="form-control" type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="password"> <em><b>Ingrese su contraseña</b></em> </label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-warning" type="submit" value="Submit">Registrarse</button>
            <button class="btn btn-warning" type="submit" value="Submit"><a href="/auth/login">Ir a Login</a></button>
        </form>
    </div>
</div>

<%- include('partials/foot.ejs')%>
   