extends layout

block content
  
    
    h2 Productos

    if products.length
        table
            thead
                tr
                    th Nombre
                    th Precio
                    th Imagen
            tbody
                each product in products
                    tr
                        th= product.title
                        td= product.price
                        td
                            img(src=product.thumbnail alt='Product image')
    else          
        h2 No hay existencias ...
        p Agregue un producto

    a(href='/')
        button Ir a agregar producto
        