<nav>
    <ul class="navbar is-justify-content-end">
        {{#if isConnected}}
        <li class="navbar-item"><a href="/">Inicio</a></li>
        <li class="navbar-item"><a href="/carrito">Carrito</a></li>
        <li class="navbar-item"><a href="/perfil">Mi perfil</a></li>
        {{/if}}
        {{#if isAdmin}}
        <li class="navbar-item"><a href="/admin">Mi Dashboard</a></li>
        {{/if}}
        {{#if isConnected}}
            <li class="navbar-item"><a href="/contacto">Contacto</a></li>
        {{/if}}

        {{#if isConnected}}
        <li class="navbar-item"><a href="/logout">Salir</a></li>
        {{/if}}
    </ul>
</nav>