<%- include('partials/head.ejs')%>
<div class="alert alert-info" role="alert">
    Error! no pudo registrarse el usuario.
    <button type="button" class="btn btn-warning"><a href="/auth/register">Volver</a></button>
</div>
<%- include('partials/foot.ejs')%>