<%- include('partials/head.ejs')%>
<div class="alert alert-info" role="alert">
    Error! Daton incorrectos!
    <button type="button" class="btn btn-warning"><a href="/auth/login">Volver</a></button>
</div>
<%- include('partials/foot.ejs')%>