<%- include('partials/head.ejs')%>

<div class="container mt-3 ">
    <div class="jumbotron">
        <h1>Loguin de usuario</h1>
        <form action="/auth/login" method="post" id="submit-name">
            <div class="form-group">
                <label for="username"> <em><b>Ingrese su email</b></em> </label>
                <input id="username" class="form-control" type="email" name="username" required>
            </div>
            <div class="form-group">
                <label for="password"> <em><b>Ingrese su contraseña</b></em> </label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-warning" type="submit" value="Submit">Ingresar</button>
            <button class="btn btn-warning" type="submit" value="Submit"><a href="/auth/register">Ir a registrarse</a></button>

        </form>
    </div>
</div>

<%- include('partials/foot.ejs')%>