<%- include('partials/head.ejs')%>
<div class="container mt-3 ">
    <div class="jumbotron">
        <h1 id="bye">Hasta luego <%=name%>!</h1>
    </div>
</div>    

<%- include('partials/logout-foot.ejs')%>